#Register {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-self: center;
    margin-top: 5%;
    border: 5px;
    height: 25em;
    width: 22em;
    fill: red;
    background-color: rgba(90, 8, 8, 0.65);
    text-decoration: wavy;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(71, 71, 71, 1);
}

section h1 {
    font-family: 'Lucida Sans';
    color: white;
}

#Register2 {
    text-decoration-style: wavy;
    font-family: 'Lucida Sans';
    color: white;
}

#signinbutton {
    width: 100px;
    margin-left: 4em;
    font-family: 'Lucida Console';
}

#type {
    display: flex;
    justify-content: center;
    fill: red;
    fill-opacity: initial;
}

.input {
    margin: 1px;
    width: 15em;
}

.link:hover {
    color: white;
}

#signinbutton:hover {
    background-color: royalblue;
    border-color: royalblue;
    color: white;
}