
#Register {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap-reverse;
    align-content:center;
    
    justify-self: center;
    
    margin-top:5%;
    border:5px;
   height:22em;
   width:22em;
   fill:red;
   background-color: #3f0d0d;
    text-decoration: wavy;    
    border-style: solid;
    border-width: 3px;
    border-color: rgb(71, 71, 71);

}

section h1{
    font-family:'Lucida Sans' ;   
    color:white;
}
#Register2 {
    text-decoration-style: wavy;
    font-family: 'Lucida Sans' ;    
    color:white;
}
#signinbutton {
    width:100px;
    margin-left:5em;
    font-family: 'Lucida Console' ; 
}
#type{
    display:flex;
    align-content:center;
    justify-content: center;
    fill: red;
    fill-opacity: initial;
}